{% extends "base.html" %}

{% block title %}{{ user1 }} vs {{ user2 }}{% endblock %}

{% block head %}
  <style>
  </style>
  <script>
    function redirect() {
          let user1 = document.getElementById('user1').value;
          let user2 = document.getElementById('user2').value;
          window.location = "/" + user1 + "/vs/" + user2;
        }
  </script>
{% endblock %}

{% block content %}
  <h1 class="title is-4">
    Movies that <span class="title is-1">{{ user1 }}</span> has watched, but <span class="title is-1">{{ user2 }}</span> hasn't!
  </h1>
  <p class="subtitle">
  <a class="button is-link" href="/{{ user2 }}/vs/{{ user1 }}">Invert Comparison</a>
  </p>
  <ul>
    {% for movie in diff %}
    <li>
      <span class="is-size-5"><a href={{ movie.url }}>{{ movie.name }}</a></span>
      {% if movie.rating.is_some() %} {{ movie.rating.unwrap() }} {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endblock %}
