{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  <style>
  </style>
  <script>
    function redirect() {
          let user1 = document.getElementById('user1').value;
          let user2 = document.getElementById('user2').value;
          window.location = "/" + user1 + "/vs/" + user2;
        }
  </script>
{% endblock %}

{% block content %}
  <h1 class="title is-4">
    Movies that <input id="user1" class="input is-1" placeholder="LB username"></input> has watched, but <input id="user2" class="input is-1" placeholder="LB username"></input> hasn't!
  </h1>
  <p class="subtitle">
  <a class="button is-link" onclick="redirect()">Compare</a>
  </p>

  {# error #}
  {% if error_mess.is_some() %}
  <article class="message is-danger">
    <div class="message-header">
      <p>Error</p>
    </div>
    <div class="message-body">
      {{ error_mess.unwrap() }}
    </div>
  </article>
  {% endif %}
{% endblock %}
